/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #100f6f 0%, #010108 100%);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.title h1 {
    color: white;
    font-size: 2rem;
}

/* Main content */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilos para a seção de imagem */
.image-section {
    display: flex; /* Usa flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px 0; /* Espaçamento vertical */
}

.image-section img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    border-radius: 10px; /* Adiciona borda arredondada */
}

/* Seção de texto */
.text-section {
    max-width: 50%;
    text-align: center; /* Alinha o texto ao centro */
}

.text-section p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Footer e navegação */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.nav-left {
    margin-right: auto;
}

.nav-center {
    text-align: center;
    color: white;
    font-size: 18px;
    flex-grow: 1;
}

.nav-right {
    margin-left: auto;
}

.nav-button {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: red;
    color: white;
}
