/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #100f6f 0%, #010108 100%); /* Degradê de azul mais claro para azul escuro */
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.title h1 {
    color: white;
    font-size: 2rem;
}

/* Main content */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.text-section {
    width: 50%;
    padding-right: 30px;
}

.text-section h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.text-section p {
    margin-bottom: 20px;
}

.sumario h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.sumario ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.sumario li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

/* Image section */
.image-section {
    margin-left: auto;
    max-width: 45%;
}

.image-section img {
    width: 100%;
    border-radius: 10px;
}

/* Footer and navigation */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.nav-left {
    margin-left: 0;
}

.nav-right {
    margin-right: 0;
}

.nav-button {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
}

.nav-button:hover {
    background-color: red;
    color: white;
}

.nav-center {
    text-align: center;
    color: white;
    font-size: 18px;
}
